@import "../../assets/scss/_variables.scss";

.create-order {
  &__title {
    margin: 0 0 20px;
  }

  &__container {
    max-width: 600px;

    &-buy {
      lost-column: 1/2;
    }

    &-sell {
      lost-column: 1/2;
    }
  }
}
